
/*Q2-1*/
#headerName {
    background-color:#2A3FDA;
    color: #FFFBF1;
    text-align: center;
}

/*Q2-2*/
.resumeContent{
    max-width: 60%;
    margin: 0 auto;
}

/*Q2-3*/
.flex-container {
    display: flex;
    flex-direction: column;
}

/*Q2-4*/
.workImage {
    width: 30%;
    height: auto;
}
